<!DOCTYPE html>
<html ng-app="angularjs-starter">
   
  <head lang="en">
    <meta charset="utf-8">
    <title>CopyPaste Slider</title>
   
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js"></script>
    <script src="http://code.angularjs.org/1.0.3/angular-resource.js"></script>
    <script src="http://www.slidorion.com/js/jquery.slidorion.min.js"> </script>
 
    <link rel="stylesheet" href="style.css"/>
       
    <script src="services.js"></script>
    <script src="app.js"></script>

    <script>
	$(function() {
		$('#slidorion').slidorion({
			interval: 5000,
			effect: 'slideRandom'
		});
	});
	</script>
	
	<style>
	
	#slider {
		background:url(http://www.slidorion.com/img/cool-bg.jpg) center center no-repeat !important;
	}
	.slide {
		background:transparent !important;
		color:#fff;
	}
	.slide .content {
		padding:15px 20px;
		font-family: 'Yanone Kaffeesatz', sans-serif; font-weight:bold;
	}
	.slide .content h1 {
		text-align:left;
		font-size:60px;
	}
	.slide .sub {
		text-align:right;
	}
	
	</style>
	  
  
  </head>
  
  <body ng-controller="MainCtrl">
  

	<div id="slidorion">

		<div id="slider">
			<div id="slide1" class="slide">
				<div class="content">
					<h1>So you can have some text here...</h1><br /><br /><br /><br /><br /><br />
					<h3 class="sub">...with a cheeky bit of sub text</h3>
				</div>
			</div>
			<div id="slide2" class="slide">
				<div class="content">
					<h1>Then slide some more text in, like this...</h1>
					<img src="http://www.slidorion.com/img/product-image1.png" />
				</div>
			</div>
			<div id="slide3" class="slide">
				<div class="content">
					<h1>Then another product image</h1>
					<img src="http://www.slidorion.com/img/product-image1.png" />
				</div>
			</div>
		</div>

		<div id="accordion">
			<div class="link-header">Spiderman</div>
			<div class="link-content">
				<p>few shit.</p>
				<p>some shit.</p>
			</div>
			<div class="link-header">Kick Ass</div>
			<div class="link-content">
				<p>few shit.</p>
				<p>some shit.</p>
			</div>
			<div class="link-header">Thor</div>
			<div class="link-content">
				<p>paragraph 1</p>
				<p>more talk shit 2</p>
			</div>
		</div>

	</div>

  <h2>ideas frags</h2>
   
    <div ng-repeat="idea in iC">
      <div ng-repeat="frag in idea.frags">
       <iframe width="560" height="315" src= {{frag.src}} frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

 </body>
</html>
