<div ng-show="gameBadges = 0">
<img ng-src="https://si0.twimg.com/profile_images/3145293656/{{hash}}"/>
52de6d4826141c76a3216f11e78342fc.png
</div>

<div ng-show="gameBadges > 0 ">
<img ng-src="https://si0.twimg.com/profile_images/3145293656/{{hash}}"/>

get the data from the service to contoller or directive?

nodifications
52de6d4826141c76a3216f11e78342fc.png
Timer
show gameBadges
</div>



<div class="hero-unit">
  <h1>Cheerio!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
