<!--		  _____   _                              __   _              __                
                 / ___ \ (_)___   ___  ___  _  __ ___ _ / /_ (_)___   ___   / /  ___  ____ ___ 
                / / _ `// // _ \ / _ \/ _ \| |/ // _ `// __// // _ \ / _ \ / _ \/ -_)/ __// _ \
                \ \_,_//_//_//_//_//_/\___/|___/ \_,_/ \__//_/ \___//_//_//_//_/\__//_/   \___/
                 \___/                                                                         
                                 _   _._|_|_|_|_ o._ (~|  o _   _ ._   o _| _ _ |
                                }_\/}_|  _| | | ||| | _|  |_\  (_|| |  |(_|}_(_|o
-->
  
  


<!doctype html>
<html ng-app="plunker" >
<head>
  <meta charset="utf-8">
  <title>Widget Heaven</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">

<style>

 </style>

 <div class="gridster" model="widgets" options="{ widget_margins: [5, 5], widget_base_dimensions:[180,100] }"></div>


<!-- this one adds a new widget nice & easy $scope.addWidget = function(){.... $scope.widgets.push()... } -->
  <button ng-click="addWidget()">Add</button>
<button ng-click="resizeWidget()"> resiZe</button>
<button ng-click="scramble()">scramble</button>
<button ng-click="rearrange()">rearrange</button>
<!--<button ng-click="onTimeout()"><onTimeout</button> -->

<input type="integer" min=1 ng-model="fitness" required>
<b> fitness: </b> {{fitness * 100 }}

<!--when one widget is dragged away from its place the other all widgets use avgrund blur css effect until one is chosen to be combined with http://lab.hakim.se/avgrund/ -->

<!-- the idea is to bind width and height properties of the widget with another parent container used for resizing and placin or somthing like this, angualr binding maigc is to be done -->








  <!--scripts careful with ordering thats it!!!-->
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  <script src="https://raw.github.com/ducksboard/gridster.js/gh-pages/dist/jquery.gridster.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <script src="app.js"></script>
  <script src="directives/gridster.js"></script>
</body>
</html>
