<!DOCTYPE html>
<html ng-app="ekoki">
   
  <head lang="en">
    <meta charset="utf-8">
    <title>CopyPaste Slider</title>
 	<script src="jquery.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="angular-resource.js"></script>

	<link rel="stylesheet" href="style.css"/> 
  	<link href="roundabout-shapes2.css" rel="stylesheet" />
 
	<script src="services.js"></script>
 	<script src="app.js"></script>
	<script>
      		document.write('<base href="' + document.location + '" />');
	</script>

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.easing.js"></script>
	<script type="text/javascript" src="jquery.roundabout.js"></script>
	<script type="text/javascript" src="jquery.roundabout2.js"></script>
	<script type="text/javascript" src="jquery.roundabout-shapes2.js"></script>
	<script src="jquery.event.drag-2.2.js"></script>
	<script src="jquery.event.drop-2.2.js"></script>	


  </head>
  
<body>
<!-- start of main controller -->
<div ng-controller="MainCtrl">
	<div ng-repeat="idea in iC">
		<ul ng-repeat="frag in idea.frags">
			 					
			<li>	the fragement {{frag.src}} </li>
		
		</ul>
	</div>
</div>

<!-- 
<div ng-controller="MainCtrl">
	<div ng-repeat="idea in iC">
		<div ng-repeat="frag in idea.frags">
			 					
			<div class="alert">	the fragement {{frag.src}} </div>
		
<input ng-model="frag.src" />

		</div>
	</div>
</div> --> 
<!-- end of main controller -->

<!-- Start of roundabout directive part -->
	<roundaboutideas/>
<!-- end of roundabout directive part -->

 </body>
