<!DOCTYPE html>
<html ng-app="angularjs-starter">
   
  <head lang="en">
    <meta charset="utf-8">
    <title>CopyPaste Slider</title>
 	<script src="jquery.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="angular-resource.js"></script>

	<link rel="stylesheet" href="style.css"/>
  	<link href="roundabout-shapes2.css" rel="stylesheet" />
 
	<script src="services.js"></script>
 	<script src="app.js"></script>
	<script>
      		document.write('<base href="' + document.location + '" />');
	</script>

	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="jquery.easing.js"></script>
	<script type="text/javascript" src="jquery.roundabout2.js"></script>
	<script type="text/javascript" src="jquery.roundabout-shapes2.js"></script>
	<script type="text/javascript" src="roundabout-shapes/v2.js"></script>
	


	<script>
   $(document).ready(function() {
      $('ul').roundabout({
         shape: 'rollerCoaster'
      });
   });
	</script>
  
  </head>
  
<body ng-controller="MainCtrl">

	<div class="example">
		<div class="show">
			<ul id="example-rollerCoaster">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li>10</li>
				<li>11</li>
				<li>12</li>

				<li>s1</li>
				<li>s2</li>
				<li>s3</li>
				<li>s4</li>
				<li>s5</li>
				<li>s6</li>
				<li>s7</li>
				<li>s8</li>
				<li>s9</li>
				<li>s10</li>
				<li>s11</li>
				<li>s12</li>
			</ul>
		</div>

	</div>

<div ng-repeat="idea in iC">
<div ng-repeat="frag in idea.frags">
	<div id="slidorion">
		<div id="slider">
				<div id={{idea.id}} class="slide">					
					<div class="content">
				should the slideid be slide1,slide2, as its setup in css?	the fragement {{frag.src}}
					</div>
				</div> 
		</div>
		<div id="accordion">
					<div class="link-header"> {{idea.id}} frag number#</div>
						<div class="link-content">
							<p>{{frag.src}}</p>
							<p>some shit.</p>
						</div>
					</div>
		</div>
	</div>		
</div>
</div>   

 </body>
</html>
